
.min-width {

}

.container {
    min-width: 775px;
    min-height: 710px;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    background-color: #f8f4f4;
    border-radius: 2rem;
}

.statsCards {
    margin-top: -10%;
}

.tallWidget {
    transform: scale(1.9);
    width: 210px;
    margin-top: 17%;
    margin-left: 100px;
    margin-bottom: 15%;
    padding-right: 16%;
    border-radius: 1rem;
}

.imageBackground {
    background-color: white;
    margin-left: 11.5%;
    border-radius: 5rem;
    transform: scale(0.5);
    margin-bottom: 1.5%;
}

.aboutImage {
    transform: scale(0.75);
}

.aboutUsText {
    max-width: 300px;
    background-color: white;
    border-radius: 2rem;
    padding: 2%;
    margin-top: -25%;
    margin-right: 10%;
    transform: scale(1.5);
}