.container {
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    margin-bottom: 3%;
    background-color: #f6f0f0;
    border-radius: 2rem;
}

.statsCards {
    margin-top: -10%;
}

.imageBackground {
    background-color: white;
    margin-left: 10%;
    border-radius: 5rem;
    transform: scale(0.5);
    margin-bottom: 1.5%;
}

.aboutImage {
    transform: scale(0.75);
}

.aboutUsText {
    background-color: white;
    border-radius: 2rem;
    padding: 2%;
    margin-top: -25%;
    transform: scale(1.5);
}