.cards-list {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    box-sizing: content-box;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 5%;
}

.cards-list::-webkit-scrollbar {
    display: none;
}

.card {
    margin: 35px auto;
    margin-left: 40px;
    margin-right: 40px;
    width: 340px;
    height: 430px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
    opacity: 80%;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
    opacity: 100%;
    margin-bottom: 30%;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -94px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    opacity: 100%;
}

.title-upper {
    margin-top: 8%;
    padding-bottom: 25px;
    font-size: 25px;
    color: rgb(53, 53, 53);
    -webkit-text-stroke: 0.2px rgb(0, 0, 0);
}

.title-white {
    margin-top: -15%;
    padding-bottom: 10px;
    font-size: 25px;
    color: rgb(53, 53, 53);
    -webkit-text-stroke: 0.2px rgb(0, 0, 0);
}

@media all and (max-width: 500px) {
    .card-list {
        flex-direction: column;
    }
}
