.main {
    display: flex;
    margin-top: 5%;
    background-color: white;
    border-radius: 2rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
    transform: scale(0.9);
}

.review-div {
    margin-top: 13%;
    margin-left: -7%;
    margin-bottom: 5%;
}

.image {
    margin-top:12%;
    margin-left: -10%;
}

.title-text {
    margin-top: 5%;
    text-align: left;
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 1;
    text-align: center;
}

.button {
    background-color: #f86464;
    font-size: larger;
    color: white;
    padding-top:0.5%;
    padding-bottom: 0.5%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top:5%;
    margin-left: 5%;
    border-radius: 0.5rem;
    transform: scale(1.1);

}
.button:hover {
    background-color: #f83c38;
}
.button:focus {
    outline-color: lightblue;
    background-color: #f83c38;
}