.main {
    display: flex;
    min-width: 620px;
    margin-top: 2%;
    background-color: white;
    border-radius: 2rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
    margin-left: 8%;
    margin-right: 8%;
    transform: scale(0.9);
}

.right-side-margin {
    margin-top: 10%;
}


.button-div {
    margin-left: -4%;
}

.review-div {
    margin-top: 13%;
    margin-left: 2%;
    margin-bottom: 3%;
}

.image {
    max-height: 650px;
    margin-top: 5%;
    margin-left: -7%;
    border-radius: 2rem;
}

.title-text {
    margin-top: 2%;
    text-align: left;
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 1;
    text-align: center;
}

.button {
    background-color: #f86464;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding-top: 1%;
    padding-bottom: 6.5px;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 0.5rem;
    transform: scale(1.1);
}

.delete-button {
    background-color: #f86464;
    font-size: 25px;
    color: white;
    padding-top: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 0.5rem;
    transform: scale(1);
}

.button:hover {
    color: white;
    background-color: #f83c38;
}
.button:focus {
    outline-color: #f86464;
    background-color: #f83c38;
}

.delete-button:hover {
    color: white;
    background-color: #f83c38;
}
.delete-button:focus {
    outline-color: #f86464;
    background-color: #f83c38;
}
