.profilePage {
    transform: scale(0.92);
}

.profileDiv {
    padding: 5%;
    margin-left: 5%;
    margin-right: 65%;
    background-color: white;
    border-radius: 5%;
}

.profileImg {
    display: flex;
    margin-left: -5%;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 75%;
    border-radius: 50%;
}

.profileCatalog {
    
}