.profilePage {
    transform: scale(0.92);
    display: flex;
}

.profileDiv {
    flex: 1;
    padding: 5%;
    margin-left: 5%;
    margin-right: 65%;
    background-color: white;
    border-radius: 2rem;
}

.profileImg {
    display: flex;
    margin-left: -5%;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 75%;
    border-radius: 50%;
}

.profileDiv:first-child {
    margin-right: 20px;
}

.profileCatalog {
    margin-left: 5%;
    overflow: auto;
    white-space: nowrap;
    height: 400px;
    background-color: rgb(214, 214, 214);
    border-radius: 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.profileCatalog::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}