.profilePage {
    margin-bottom: -3%;
    transform: scale(0.8);
    display: flex;
    background-color: #f6f0f0;
}

.profileDiv {
    flex: 1;
    text-align: center;
    padding: 5%;
    margin: 4.5%;
    background-color: white;
    border-radius: 2rem;
}

.profileImg {
    display: flex;
    margin-left: 12%;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 75%;
    border-radius: 50%;
}

.profileDiv:first-child {
    margin-right: 20px;
}

.profileCatalog {
    margin-left: 5%;
    overflow: auto;
    white-space: nowrap;
    height: 400px;
    background-color: rgb(214, 214, 214);
    border-radius: 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.profileOwned {
    width: 1000px;
    margin-left: 5%;
    overflow: auto;
    white-space: nowrap;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.profileOwned::-webkit-scrollbar {
    display: none;
}

.profileReviews {
    width: 1000px;
    margin-left: 5%;
    overflow: auto;
    white-space: nowrap;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.profileReviews::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.input {
    padding-top: 0.75rem;
padding-bottom: 0.75rem; 
padding-left: 2rem;
padding-right: 2rem; 
margin-top: 1.5rem; 
margin-bottom: 2.5rem; 
margin-left: 8rem; 
background-color: #ffffff; 
font-size: 0.875rem;
line-height: 1.25rem; 
font-size: 1.125rem;
line-height: 1.75rem; 
color: #4B5563; 
width: 33.333333%; 
border-radius: 1rem; 
border-width: 1px; 
border-color: #E5E7EB; 
outline-color: #f86464; 
}

.search-button {
    color:white;
    background-color: #f86464;
    margin-top: 0.5%;
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 0.8rem;
    font-weight: bold;
}

.search-button:hover {
    color: white;
    background-color: #f83c38;
}
.search-button:focus {
    outline-color: #f86464;;
    background-color: #f83c38;
}